<template>
  <div class="todo__item" :class="{
    'todo__item--done': completed,
  }">
    <div class="todo__item__content">
      <todo-checkbox @input="$emit('todo:completed')" :value="completed" />
      <span class="title">
        {{ title }}
      </span>
      <div class="todo__container__action">
        <i class="icon" @click="$emit('todo:delete')"><v-icon name="x"/></i>
      </div>
    </div>
  </div>
</template>

<script src="./TodoItem.js"></script>

<style lang="scss" src="./TodoItem.scss"></style>
