@import '@/assets/_variables.scss';

.todo__item {
  position: relative;
  font-size: 20px;
  border-bottom: 1px solid $gray;
  background: $white;

  &.todo__item--done {
    .title {
      color: #d9d9d9;
      text-decoration: line-through;
    }
  }
}

.todo__item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  color: $gray-dark;

  .todo__checkbox {
    flex: 0 0 30px;
    height: 30px;
  }

  .title {
    margin-left: 18px;
    transition: color 0.4s;
    color: $gray-dark;
    font-weight: 300;
  }
}

.todo__container__action {
  flex: 0 0 20px;
  margin-left: auto;
  height: 20px;

  .icon {
    color: #cc9a9a;
  }
}
