<template>
  <div class="todo__search">
    <i class="icon"><v-icon name="search"/></i>
    <input
      v-bind:placeholder="placeholder"
      type="text"
      v-model="text"
    />
  </div>
</template>

<script src="./TodoSearch.js"></script>

<style lang="scss" src="./TodoSearch.scss"></style>
