// Variables

//
// Color system
//

// stylelint-disable
$white: #ffffff;
$green: #94c826;
$gray: #ededed;
$gray-dark: #4d4d4d;

// MediaQueries Breakpoints
$tablet: 600px;
$desktop: 1024px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
