@import '@/assets/_variables.scss';

.todo__app {
  margin: 20px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo__app__footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  border-top: 1px solid #e6e6e6;
  background: $white;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    overflow: hidden;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgba(0, 0, 0, 0.2),
      0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

  .todo__count {
    font-weight: 100;
    font-size: 14px;
  }
}

@media only screen and (min-width: $tablet) {
  .todo__app {
    margin: 10px auto 40px;
    max-width: 70%;
  }
}

@media only screen and (min-width: $desktop) {
  .todo__app {
    margin: 10px auto 40px;
    max-width: 50%;
  }
}
