<template>
  <div class="home">
    <div v-if="isLoading">Loading...</div>

    <div v-else>
      <div class="todo__app">
        <todo-search
          @todo:search="search"
          :placeholder="$t('app.search-placeholder')"
        />

        <todo-input
          @todo:add="add"
          :placeholder="$t('app.input-placeholder')"
        />

        <todo-item
         v-for="(task, index) in filteredTasks"
         :key="index"
         v-bind="task"
         @todo:completed="toggleTaskStatus({task, status: 'completed'})"
         @todo:delete="deleteTask({task, data: $event})"
       />
       <div class="todo__app__footer" v-if="tasks.length > 0">
         <span class="todo__count">
           {{ pendingTasks.length }}
           {{ pendingTasks.length !== 1 ? $t('app.item-plr') : $t('app.item-sng') }}
           {{ pendingTasks.length !== 1 ? $t('app.pending-plr') : $t('app.pending-sng') }}
         </span>
       </div>
      </div>
    </div>
  </div>
</template>

<script src="./Home.js"></script>

<style lang="scss" src="./Home.scss"></style>
