@import '@/assets/_variables.scss';

#app {
  font-family: $font-family;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    color: $gray-dark;
    margin: 30px 0;
  }
}

@media only screen and (orientation: portrait) {
  body {
    background: url('./assets/background-mobile.jpeg') no-repeat fixed center
  }
}

@media only screen and (orientation: landscape) {
  body {
    background: url('./assets/background-desktop.jpeg') no-repeat fixed center
  }

  #app {
    h1 {
      font-size: 80px;
      color: $white;
    }
  }
}

@media only screen and (min-width: $tablet) {
  #app {
    h1 {
      font-size: 80px;
      color: $white;
    }
  }
}

@media only screen and (min-width: $desktop) {
  #app {
    h1 {
      font-size: 80px;
    }
  }
}

body {
  background-size: cover;
  height: 100vh;

  @media only screen and (min-width: $tablet) {
    height: 100%;
  }
}
