<template>
  <div id="app">
    <header>
      <h1>{{ $t('app.name') }}</h1>
      <img src="./assets/logo.svg"/>
    </header>

    <router-view/>
  </div>
</template>

<style lang="scss" src="./App.scss"></style>
