<template>
  <div @click="$emit('input', !value)" class="todo__checkbox" :class="{checked: value}">
    <input type="checkbox" :name="name" :checked="value">
    <i class="icon"><v-icon name="check"/></i>
  </div>
</template>

<script src="./TodoCheckbox.js"></script>

<style lang="scss" src="./TodoCheckbox.scss"></style>
