@import '@/assets/_variables.scss';

.todo__checkbox {
  width: 40px;
  height: 40px;
  text-align: center;
  background: $white;
  color: $white;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  border: 1px solid $gray;
  border-radius: 50%;

  i.icon {
    display: none;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 0;
    opacity: 0;

    &:checked ~ i.icon {
      display: inline;
    }
  }

  &.checked {
    background-color: $green;
  }
}
