@import '@/assets/_variables.scss';

.todo__input {
  position: relative;
  background: $white;

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 10px;
    color: #e6e6e6;
    z-index: 2;
  }

  input {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    outline: none;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 16px 60px 16px 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    font-weight: 300;
    font-size: 20px;
  }
}
