<template>
  <div class="todo__input">
    <i class="icon" @click="addItem"><v-icon name="plus"/></i>
    <input
      v-bind:placeholder="placeholder"
      type="text"
      v-model="text"
      @keyup.enter="addItem"
    />
  </div>
</template>

<script src="./TodoInput.js"></script>

<style lang="scss" src="./TodoInput.scss"></style>
